body, html {
  height: 100%;
  margin:0;
}

#home {
  width:100%;
  height:100%;
  background-image:url('../images/camera.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.left {
  position: absolute;
  top:40%;
  left:3%;
  bottom:60%;
}

.intro1 {
  font-size:50px ;
  font-weight:bold;
  font-family: 'Dancing Script', cursive;;
  color:white;
}

.intro2 {
  font-size: 15px;
  font-weight:bold;
  font-family: 'Dancing Script', cursive;;
  color:white;
}

.navbar {
  overflow: hidden;
  background-color:black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Dancing Script', cursive;;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: black;
  color: white;
}

/* BIO */

img {
  border-radius: 50%;
}

.header { /* displays images and text side by side */
  width: 100%;
  height: 260px;
}

h1 {
  color:black;
  font-family: 'Source Serif Pro', serif;
  font-size: 80px;
  letter-spacing: 2px;
}

.topleft {
  float: left; /* positions the image to the left of header element */
  padding-left: 3%; 
  margin-left: auto;
  margin-right: auto;
}

.topright {
  float: right;
  padding-left: 42%;
  position: absolute;
}
/*BIO*/

/* PORTFOLIOS */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2%;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#find-padding{
  padding-top: 1%;
}
.eventname{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
/* PORTFOLIOS */

/*CONTACT US*/
#contactus{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  background-image: url("../images/lens2.jpg");
  background-size: cover;
}
#contactus img{
  object-fit: cover;
  height: auto;
}
#contactus .btn{
  background: transparent !important;
  color:white;
  font-weight: bolder;
  padding: 3%;
  font-size: 20px;
}
h3{
  padding-top: 3%;
  font-size: 50px;
  padding-bottom: 1%;
}
#message{
  color: white;
  background: transparent;
}
.contactcontent{
  padding: 4%;
}
/*CONTACT US*/
