body, html {
  height: 100%;
  margin:0;
}
/* LANDING PAGE */
#home {
  width:100%;
  height:100%;
  background-image:url('../images/camera.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.left {
  position: absolute;
  top:40%;
  left:3%;
  bottom:60%;
}

.intro1 {
  font-size:50px ;
  font-weight:bold;
  font-family: 'Dancing Script', cursive;
  color:white;
}

.intro2 {
  font-size: 15px;
  font-weight:bold;
  font-family: 'Dancing Script', cursive;
  color:white;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color:black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Dancing Script', cursive;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color:black;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* LANDING PAGE */

/* BIO */
.header { /* displays images and text side by side */
  width: 100%;
  height: 260px;
}

h1 {
  color:white;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  letter-spacing: 2px;
}

.topleft {
  float: left; /* positions the image to the left of header element */
  padding-left: 0%; 
  margin-left: auto;
  margin-right: auto;
}

.topright {
  float: right;
  padding-left: 42%;
  position: absolute;
}

.content {
  font-size: 50px;
  text-align: justify;
  padding-left: 40%;
  word-spacing: 2px;
  padding-right: 5%;
  padding-bottom: 8%;
  color: white;
  font-family:'Josefin Sans', sans-serif;
}
.little{
  font-family: 'Dancing Script', cursive;
  font-size:8vw;
}
/*BIO*/

/* PORTFOLIOS */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2%;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#find-padding{
  padding-top: 1%;
}
.eventname{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

/* PORTFOLIOS */

/* PACKAGES */
.about-section{
  padding:50px;
  text-align:center;
  background: black;
  color:white;
  font-family: 'Dancing Script', cursive;
}
h2{
  text-align: center;
  font-family:'Josefin Sans', sans-serif;
}
.column {
  float: left;
  padding:33.33%;
  padding:5px;
}
.row:after{
  content:"";
  clear:both;
  display:table;
}
/* PACKAGES */
/*CONTACT US*/
#contactus{
  width: 100%;
  height: auto;
  text-align: center;
  color:white;
  background-image: url("../images/huge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Dancing Script', cursive;
}
#contactus img{
  object-fit: cover;
  height: auto;
}
#contactus .btn{
  background: transparent !important;
  color:white;
  font-weight: bolder;
  padding: 3%;
  font-size: 20px;
}
h3{
  padding-top: 3%;
  font-size: 50px;
  padding-bottom: 1%;
}
#message{
  color:white;
  background: transparent;
  font-size:20px;
}
.contactcontent{
  padding: 4%;
}
p {
  font-size:20px;
  font-weight: bold;
}
.form-control {
  background: transparent;
}
::placeholder {
  color:white;
}
h5 {
  font-size: 30px;
}
.socials{
  padding-top: 3%;
  text-align: center;
  padding-bottom: 3%;
}
/*CONTACT US*/
